I
II
III
III Nomin
*.pdf
*.xlsx
derivs
2_Accelerated_Contact_Detection/sampled_data_*_percent.csv
*.png
*.gif
OUTPUT_*/
*/csv_files_edges/
venv/
fem-env/
*.json
cache_directory/
*.so
*.pyc
RecoveryOuters.dat
csv_files
PyClasses/__pycache__/
*.sh
2_Accelerated_Contact_Detection/sampled_data_50_percent.csv
*.csv
*.ft
*.prof
*/build
oldScriptsVersions/
for_HPC
Legacy/
ContactData*
*.pstats
*.vol
*.ini
*.tex
*.vtu
*.pt
*.bib
*.npy
*.log
*.npz
paper_nn*
*.sty
*.cls
*.bst